﻿          <section>
            <div class="barraTopo">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-3 btnsair" ng-click="goHome()">
                    <img src="content/images/voltar.png">
                  </div>
                  <div class="col-xs-9 text-left" style="margin: 5px 0 0 0;">
                    PONTO DE VENDA
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div id="map">

            </div>
          </section>
          
          <section ng-show="boxPatrocionadores">          

            <div>

              <div class="sliderFundoHome" sis-owl-carousel>
                  <div ng-click="sliderSelect(item)" class="item" ng-repeat="item in patrocionadores track by $index">
                      <div sis-owl-carousel-item 
                          class="imagemPatrocionador" 

                          style="background: url({{item.imagem}}) 
                          50% 50% no-repeat;">
                      </div>
                  </div>
              </div>

            </div> 
            

          </section>

          <section class="marginTop" ng-show="boxItem">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 form-group text-center">
                    <h3>{{empresa.nome}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 form-group">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                      <tr>
                        <td><b>Estado</b></td><td>{{empresa.estado}}</td>
                      </tr>
                      <tr>
                        <td><b>Cidade</b></td><td>{{empresa.cidade}}</td>
                      </tr>
                      <tr>
                        <td><b>Endereço</b></td><td>{{empresa.endereco}}</td>
                      </tr>
                      <tr>
                        <td><b>CEP</b></td><td>{{empresa.cep}}</td>
                      </tr>
                      <tr>
                        <td><b>Telefone</b></td><td>{{empresa.telefone}}</td>
                      </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 form-group boxTipo text-center">
                    <h3>{{empresa.tipo}}</h3>
                  </div>
                </div>

                <div class="row">

                  <div class="col-xs-12 form-group" ng-repeat="item in itens">
                    <div>
                      <div class="imagemItem" style="background: url({{item.imagem}}) 50% 50% no-repeat;"></div>
                      <h4>{{item.nome}}</h4>
                      <h5 style="color:green;">R$ {{item.valor}}</h5>
                    </div>

                    <div class="item item-body">
                      <ng-bind-html
                        ng-bind-html="item.descricao">
                      </ng-bind-html>
                    </div>

                  </div>
                  
                </div>
              </div>
          </section>
