﻿<section>
  <div class="barraTopo">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 btnsair text-center" ng-click="sair()">
          <img src="content/images/sair.png">
        </div>
        <div class="col-xs-6 text-center textoTopo">
          PROMOÇÕES & NOVIDADES
        </div>
        <div class="col-xs-3 btnfechar text-center" ng-click="fechar()">
          <img src="content/images/fechar.png">
        </div>
      </div>
    </div>
  </div>
</section>
          
<section>          
  <div class="sliderFundoHome" sis-owl-carousel>
    <div ng-click="sliderSelect(item)" class="item" ng-repeat="item in banners track by $index">
      <div sis-owl-carousel-item 
      class="imagemEmpresa"
      style="background: url({{item.imagem}}) 
      50% 50% no-repeat;">
      </div>
    </div>
  </div>
</section>

 <section class="marginTop">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 form-group">
        <input class="form-control" ng-model="search" placeholder="PESQUISAR EMPRESAS">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 textoProximo noPaddingRight">
        <label>PROMOÇÕES PRÓXIMAS A VOCÊ</label>
      </div>
      <div class="col-xs-4 noPadding hrProximo">  
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group empresasProximo">
        <div class="empresas" ng-repeat="item in empresas | filter: search">
          <div class="imagemEmpresa2" 
          ng-click="sliderSelect(item)" 
          style="background: url({{item.imagem2}}) 50% 0% no-repeat;"></div>
        </div>
      </div>
    </div>

  </div>

 </section>

  <section>

  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <label>Patrocionadores</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
<!--         <div class="empresas" ng-repeat="item in patrocionadores">
          <div class="imagemEmpresa2" style="background: url({{item.imagem}}) 50% 50% no-repeat;"></div>
        </div> -->
        <div class="patrocionadores">
          <div ng-repeat="item in patrocionadores">
            <div
            class="imagemPatrocionador"
            style="background: url({{item.imagem}}) 
            50% 50% no-repeat;">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

 </section>
