﻿#map{
    width: 100%;
    height: 250px;
    background: #ccc;
}

html,
body {
    padding-top: 10px;
    position: relative;
    overflow-y: scroll;
    height: 100%;
}

textarea{
    height: 150px !important;
}


.logo img {
    width: 200px;
}

.barraTopo {
    background: #e0352e;
    padding: 10px 0;
    color: #FFF;
}

.marginTop {
    margin-top: 10px;
}

.imagemEmpresa {
    height: 116px;
    background-size: cover !important;
    border-bottom: 2px solid #e0352e;
}

.imagemEmpresa2 {
    height: 69px;
    margin-bottom: 9px;
    background-size: contain !important;
}

.owl-controls {
    display: none !important;
}

.noPadding{
    padding: 0 !important;
}

.noPaddingRight{
    padding-right: 0 !important;
}

.noPaddingLeft{
    padding-left: 0 !important;
}

.imagemItem {
    height: 150px;
    background-size: contain !important;
}

.logo img{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.hrProximo {
    background: #ccc;
    margin: 7px 0px 0 0px;
    width: 27%;
}

.textoProximo {
    font-size: 11px;
}

.textoTopo {
    font-size: 11px;
    padding: 0 !important;
    margin: 8px 0 0 0;
}

/*.sairTopo {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-radius: 3px;
    padding: 4px 10px;
}

.fecharTopo {
    border: 1px solid;
    border-radius: 3px;
    padding: 4px 5px;
}*/

.btnsair img {
    width: 40px;
    margin: 4px 0 0 0;
}

.btnfechar img {
    width: 40px;
    margin: 2px 0 0 0;
}

.opacity0{
    opacity: 0;
}

.empresasProximo{
    overflow-y: scroll;
    height: 230px;
}

.imagemPatrocionador {
    height: 70px;
    margin-bottom: 20px;
    background-size: cover !important;
}

.boxTipo h3 {
    margin: 0;
}

.boxTipo{
    border-bottom: 2px solid red;
}

.logoTela1 {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 40%;
}

.fundo{
    background: url(../images/fundo.jpg) 50% 50% no-repeat;
    background-size: cover !important;
}