﻿<section>
  <div class="logo text-center opacity0">
    <img src="content/images/logo.png">
  </div>
</section>

<script type="text/javascript">
  
  $(document).ready(function() {
    setTimeout(function() { 
      $(".logo").removeClass('opacity0'); 
      $(".logo").addClass('animated bounceInDown'); 
    }, 500);
  });
  
</script>

<section ng-if="boxLogin">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 form-group">
        <label>E-mail</label>
        <input type="text" class="form-control" ng-model="model.email">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group">
        <label>Senha</label>
        <input type="password" class="form-control" ng-model="model.senha">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group">
        <span class="btn btn-block btn-success" ng-click="login()">Entrar</span>
      </div>
      <div class="col-xs-12 form-group">
        <span class="btn btn-block btn-primary" ng-click="showBoxInsert()">Criar conta</span>
      </div>
    </div>

  </div>

</section>
<section ng-if="boxCadastro">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 form-group">
        <label>Nome</label>
        <input type="text" class="form-control" ng-model="user.nome">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group">
        <label>E-mail</label>
        <input type="text" class="form-control" ng-model="user.email">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group">
        <label>Senha</label>
        <input type="password" class="form-control" ng-model="user.senha">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group">
        <span class="btn btn-block btn-success" ng-click="insert()">Cadastrar</span>
      </div>
      <div class="col-xs-12 form-group">
        <span class="btn btn-block btn-primary" ng-click="showBoxLogin()">Voltar</span>
      </div>
    </div>

  </div>

</section>